<h1>Hello, <%= current_user.name %></h1>
<% @debts_owing.each do |debt| %>
  <h4>You owe $<%= debt.amount %> to <%= User.find(debt.owed_to_id).name %><h4>
<% end %>

<!-- these two forms can be refactored down to a partial -->
<%= render partial: 'new_expense_form', locals: { kind:  "food", expense: @food_expense} %>
<%= render partial: 'new_expense_form', locals: { kind:  "general", expense: @general_expense } %>
<% @debts_owed.each do |debt| %>
  <h4><%= User.find(debt.owed_from_id).name %> owes you $<%= debt.amount %><h4><br>
<% end %>