<h1>Hello, <%= current_user.name %></h1>
<% @debts_owing.each do |debt| %>
  <h4>You owe $<%= debt.amount %> to <%= User.find(debt.owed_to_id).name %><h4>
<% end %>

<% @debts_owed.each do |debt| %>
  <h4><%= User.find(debt.owed_from_id).name %> owes you $<%= debt.amount %><h4>
<% end %>
<!-- these two forms can be refactored down to a partial -->
<%= form_for @house_food do |f| %>
  <%= f.label :house_food %>
  <%= f.text_field :amount, placeholder: "amount", id: "food_expense_amount" %>
  <%= f.hidden_field :food, value: true %>
  <input id="food_expense_date" name="expense[date]" type="date">
  <%= f.submit value: "record food purchase" %>
<% end %>
<%= form_for @general_expense do |f| %>
  <%= f.label :general_expense %>
  <%= f.text_field :amount, placeholder: "amount", id: "general_expense_amount" %>
  <%= f.hidden_field :food, value: false %>
  <input id="general_expense_date" name="expense[date]" type="date">
  <%= f.submit value: "record general house expense" %>
<% end %>